In [2]:
import numpy as np
import pandas as pd
from helpers import *

In [3]:
x_train = pd.read_csv("../data/x_train.csv")
y_train = pd.read_csv("../data/y_train.csv")
x_test = pd.read_csv("../data/x_test.csv")

In [4]:
x_train

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,53,11,11162015,11,16,2015,1100,2015015629,2015015629,NaN,...,1,1,3.0,3.0,4.0,1,1,NaN,NaN,2.0
1,33,12,12152015,12,15,2015,1200,2015004387,2015004387,1.0,...,9,9,3.0,3.0,4.0,9,9,NaN,NaN,NaN
2,20,10,10202015,10,20,2015,1100,2015005638,2015005638,1.0,...,4,2,2.0,2.0,3.0,1,1,1.0,2.0,2.0
3,42,6,6182015,6,18,2015,1100,2015004694,2015004694,NaN,...,2,2,2.0,2.0,3.0,1,1,2.0,2.0,2.0
4,24,11,11062015,11,6,2015,1100,2015004673,2015004673,1.0,...,9,9,3.0,3.0,4.0,1,1,9.0,9.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328130,49,7,11232015,11,23,2015,1100,2015006796,2015006796,NaN,...,2,2,3.0,3.0,4.0,1,1,NaN,NaN,2.0
328131,51,5,6082015,6,8,2015,1100,2015006482,2015006482,NaN,...,1,1,3.0,3.0,4.0,1,1,NaN,NaN,1.0
328132,39,10,10202015,10,20,2015,1100,2015004898,2015004898,1.0,...,3,2,3.0,3.0,4.0,1,2,2.0,2.0,2.0
328133,33,12,12302015,12,30,2015,1100,2015004449,2015004449,1.0,...,3,2,3.0,3.0,4.0,1,1,NaN,NaN,2.0
328134,32,9,9122015,9,12,2015,1100,2015001176,2015001176,1.0,...,9,9,2.0,2.0,3.0,1,1,NaN,NaN,2.0

In [43]:
x_train
x_train_copy = x_train.copy()

In [44]:
nan_counts = x_train.isna().sum()
nan_counts[nan_counts > 0]

CTELENUM    139415
PVTRESD1    139415
COLGHOUS    328103
STATERES    139416
CELLFON3    139415
             ...
_LMTWRK1      1883
_LMTSCL1      1883
_FLSHOT6    211378
_PNEUMO2    211378
_AIDTST3     32080
Length: 239, dtype: int64

In [45]:
# Define the threshold for missing values (50% threshold in this case)
threshold = len(x_train) * 0.5

columns_to_drop = x_train.columns[x_train.isna().sum() > threshold]

# Drop the columns from both x_train and x_test
x_train.drop(columns=columns_to_drop, inplace=True)
x_test.drop(columns=columns_to_drop, inplace=True)

In [46]:
column_means = x_train.mean()

# Fill missing values with column means
x_train = x_train.fillna(column_means)
x_train

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PA30021,_PASTRNG,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_AIDTST3
0,53,11,11162015,11,16,2015,1100,2015015629,2015015629,1.0,...,2,1,1,1,3.0,3.0,4.0,1,1,2.000000
1,33,12,12152015,12,15,2015,1200,2015004387,2015004387,1.0,...,9,9,9,9,3.0,3.0,4.0,9,9,1.966675
2,20,10,10202015,10,20,2015,1100,2015005638,2015005638,1.0,...,2,2,4,2,2.0,2.0,3.0,1,1,2.000000
3,42,6,6182015,6,18,2015,1100,2015004694,2015004694,1.0,...,1,2,2,2,2.0,2.0,3.0,1,1,2.000000
4,24,11,11062015,11,6,2015,1100,2015004673,2015004673,1.0,...,9,2,9,9,3.0,3.0,4.0,1,1,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328130,49,7,11232015,11,23,2015,1100,2015006796,2015006796,1.0,...,2,2,2,2,3.0,3.0,4.0,1,1,2.000000
328131,51,5,6082015,6,8,2015,1100,2015006482,2015006482,1.0,...,1,1,1,1,3.0,3.0,4.0,1,1,1.000000
328132,39,10,10202015,10,20,2015,1100,2015004898,2015004898,1.0,...,2,1,3,2,3.0,3.0,4.0,1,2,2.000000
328133,33,12,12302015,12,30,2015,1100,2015004449,2015004449,1.0,...,2,1,3,2,3.0,3.0,4.0,1,1,2.000000
328134,32,9,9122015,9,12,2015,1100,2015001176,2015001176,1.0,...,9,1,9,9,2.0,2.0,3.0,1,1,2.000000

In [47]:
column_means = x_test.mean()

# Fill missing values with column means
x_test = x_test.fillna(column_means)
x_test

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PA30021,_PASTRNG,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_AIDTST3
0,44,2,2082015,2,8,2015,1100,2015000284,2015000284,1.0,...,1,2,2,2,3.0,3.0,4.0,1,1,2.000000
1,27,1,1192015,1,19,2015,1100,2015008846,2015008846,1.0,...,2,2,2,2,3.0,3.0,4.0,1,1,2.000000
2,35,5,5262015,5,26,2015,1100,2015001230,2015001230,1.0,...,2,2,2,2,2.0,2.0,3.0,1,1,2.000000
3,23,2,2062015,2,6,2015,1100,2015000672,2015000672,1.0,...,2,2,4,2,2.0,2.0,3.0,1,1,2.000000
4,10,12,12202015,12,20,2015,1100,2015001727,2015001727,1.0,...,2,2,4,2,3.0,3.0,4.0,1,1,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109374,25,9,9132015,9,13,2015,1100,2015001113,2015001113,1.0,...,2,9,9,9,1.0,2.0,1.0,1,1,9.000000
109375,16,10,10072015,10,7,2015,1100,2015003064,2015003064,1.0,...,2,2,4,2,1.0,1.0,1.0,2,2,2.000000
109376,9,11,11272015,11,27,2015,1200,2015006319,2015006319,1.0,...,9,9,9,9,3.0,3.0,4.0,9,9,1.968123
109377,15,12,12122015,12,12,2015,1100,2015002454,2015002454,1.0,...,2,1,3,2,3.0,3.0,4.0,1,1,2.000000
109378,45,12,12282015,12,28,2015,1100,2015006023,2015006023,1.0,...,2,2,2,2,1.0,1.0,2.0,1,1,2.000000

In [51]:
from implementations import *

initial_w = np.zeros((x_train.shape[1], 1))  # Initialize weights
max_iters = 100
gamma = 0.1  # Learning rate

# Train the model
w, loss = mean_squared_error_gd(y_train, x_train, initial_w, max_iters, gamma)

# Define a threshold for classification
threshold = 0.5

# Make predictions
predictions = (x_train.dot(w) >= threshold).astype(int)

In [52]:
predictions_test = (x_test.dot(w) >= threshold).astype(int)

In [ ]:
from helpers import *

In [63]:
predictions_test.rename(columns={0: "_MICHD"}, inplace=True)

predictions_test.to_csv("test_predictions.csv", index=False)